@import "base.scss";

.restos {
    background-color: #f6f6f6;
    padding: 2rem 1rem;
}

.cartes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;

    @media (min-width:64rem) {
        grid-template-columns: repeat(2, 1fr);
    }


}

.carte {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;

    img {
        height: 12rem;
        width: 100%;
        border: transparent solid 0px;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
        object-fit: cover;
    }

    &_nouveau {
        background-color: $color-tertiary;
        color: darken($color-tertiary, 50%);
        padding: 0.5rem;
        border-radius: 0.125rem;
        position: absolute;
        top: 1rem;
        right: 0.75rem;
    }

    footer {
        padding: 1rem;
        position: relative;
        display: flex;
        align-items: center;
    }

    &_contenu {
        flex: 1;
    }

    h3 {
        margin: 0;
        margin-bottom: 0.25rem;
    }

    p {
        margin: 0;
    }
}