@import "base.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');



.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;




    .s {
        color: #f2f2f2;
        font-size: 70px;
        letter-spacing: 30px;
        margin-bottom: 150px;

        &_ani {
            animation: couleur 1.2s linear infinite;
            animation-delay: 0.3s;

            @keyframes couleur {
                0% {
                    color: #99E2D0;
                    ;
                    text-shadow: 0 0 7px #99E2D0;
                    transform: scale(1.3);

                }

                90% {
                    color: #f2f2f2;
                    text-shadow: none;
                    transform: scale(1);
                }

                100% {
                    color: #99E2D0;
                    ;
                    text-shadow: 0 0 7px #99E2D0;
                    transform: scale(1.3);

                }

            }
        }

        &_ani2 {
            animation: couleur2 1.2s linear infinite;
            animation-delay: 0.6s;

            @keyframes couleur2 {
                0% {
                    color: #FF97DA;
                    ;
                    text-shadow: 0 0 7px #FF97DA;
                    transform: scale(1.3);
                }

                90% {
                    color: #f2f2f2;
                    text-shadow: none;
                    transform: scale(1);
                }

                100% {
                    color: #FF97DA;
                    ;
                    text-shadow: 0 0 7px #FF97DA;
                    transform: scale(1.3);
                }

            }
        }

        &_ani3 {
            animation: couleur3 1.2s linear infinite;
            animation-delay: 0.9s;

            @keyframes couleur3 {
                0% {
                    color: #9356DC;
                    ;
                    text-shadow: 0 0 7px #9356DC;
                    transform: scale(1.3);
                }

                90% {
                    color: #f2f2f2;
                    text-shadow: none;
                    transform: scale(1);
                }

                100% {
                    color: #9356DC;
                    ;
                    text-shadow: 0 0 7px #9356DC;
                    transform: scale(1.3);
                }

            }
        }






    }

}