@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header h1 {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;
}
.search_icon {
  margin-right: 1rem;
}
.search span {
  font-weight: 700;
}

.explore {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.explore h2 {
  margin: 0;
}
.explore p {
  font-weight: 300;
  margin: 1.5rem 0;
}
.explore_btn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background: #9356dc;
  background: linear-gradient(0deg, #9356DC 0%, #FF97DA 100%);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.explore_btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.tuto {
  padding: 2rem 1rem;
}
.tuto h2 {
  margin-top: 0;
}
.tuto span {
  margin-left: 1rem;
}
.tuto ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteListe;
}
.tuto li {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.tuto li:first-child {
  margin-top: 0;
}
.tuto li:last-child {
  margin-bottom: 0;
}
.tuto li::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}

.cont {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.restos {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.cartes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.carte {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.carte img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.carte_nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.carte footer {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.carte_contenu {
  flex: 1;
}
.carte h3 {
  margin: 0;
  margin-bottom: 0.25rem;
}
.carte p {
  margin: 0;
}

.footer {
  background-color: #353535;
}
.footer .cont {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer span {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer li {
  margin: 0.5rem 0;
}
.footer li:first-child {
  margin-top: 0;
}
.footer li:last-child {
  margin-bottom: 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer_icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
